
.vs/MailingAPI/v17/.suo
MailingAPI/bin/Debug/net6.0/appsettings.Development.json
MailingAPI/bin/Debug/net6.0/appsettings.json
MailingAPI/bin/Debug/net6.0/MailingAPI.deps.json
MailingAPI/bin/Debug/net6.0/MailingAPI.dll
MailingAPI/bin/Debug/net6.0/MailingAPI.exe
MailingAPI/bin/Debug/net6.0/MailingAPI.pdb
MailingAPI/bin/Debug/net6.0/MailingAPI.runtimeconfig.json
MailingAPI/bin/Debug/net6.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
MailingAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
MailingAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
MailingAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
MailingAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
MailingAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
MailingAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
MailingAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
MailingAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
MailingAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
MailingAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MailingAPI/obj/Debug/net6.0/apphost.exe
MailingAPI/obj/Debug/net6.0/MailingAPI.AssemblyInfo.cs
MailingAPI/obj/Debug/net6.0/MailingAPI.AssemblyInfoInputs.cache
MailingAPI/obj/Debug/net6.0/MailingAPI.assets.cache
MailingAPI/obj/Debug/net6.0/MailingAPI.csproj.AssemblyReference.cache
MailingAPI/obj/Debug/net6.0/MailingAPI.csproj.CopyComplete
MailingAPI/obj/Debug/net6.0/MailingAPI.csproj.CoreCompileInputs.cache
MailingAPI/obj/Debug/net6.0/MailingAPI.csproj.FileListAbsolute.txt
MailingAPI/obj/Debug/net6.0/MailingAPI.dll
MailingAPI/obj/Debug/net6.0/MailingAPI.GeneratedMSBuildEditorConfig.editorconfig
MailingAPI/obj/Debug/net6.0/MailingAPI.genruntimeconfig.cache
MailingAPI/obj/Debug/net6.0/MailingAPI.GlobalUsings.g.cs
MailingAPI/obj/Debug/net6.0/MailingAPI.MvcApplicationPartsAssemblyInfo.cache
MailingAPI/obj/Debug/net6.0/MailingAPI.MvcApplicationPartsAssemblyInfo.cs
MailingAPI/obj/Debug/net6.0/MailingAPI.pdb
MailingAPI/obj/Debug/net6.0/ref/MailingAPI.dll
MailingAPI/obj/Debug/net6.0/refint/MailingAPI.dll
MailingAPI/obj/Debug/net6.0/staticwebassets.build.json
MailingAPI/obj/MailingAPI.csproj.nuget.dgspec.json
MailingAPI/obj/MailingAPI.csproj.nuget.g.props
MailingAPI/obj/MailingAPI.csproj.nuget.g.targets
MailingAPI/obj/project.assets.json
MailingAPI/obj/project.nuget.cache
MailingAPI/obj/staticwebassets.pack.sentinel
